@import './color.scss';

.contact-component {
  margin: 0;
  padding: 0.1em 0.5em;
  list-style-type: none;
  > .contact-entry-component {
    padding: 0.2em 0;
    text-align: right;
    > a {
      color: inherit;
      text-decoration: none;
      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }
  }
}
